@charset 'utf-8';

.pet-list {
  padding: 12px 20px 24px;
  background: #5794f0;
  color: #ffffff;

  &-wrapper {
    margin-bottom: 24px;
    gap: 20px;

    .name-area {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
      align-items: center;
    }
    &__item {
      .item__name {
        display: inline-block;
        margin: 0 8px;
        @include ptRegular14;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
      }
      .item__photo {
        //background-image: url("@images/pet_01.jpeg");
        //background-size: cover;
        //background-position: center center;
        margin: 0 auto;
        width: 72px;
        height: 72px;
        img {
          border-radius: 60px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .swiper {
    z-index: 0;
  }
  .swiper-wrapper {
    z-index: 0;
  }

  &.fixed {
    background-color: #fff;
  }
}
