@charset 'utf-8';

.one-line-diary {
  min-height: $minHeight;
  padding: 28px 20px;

  &__comment {
    position: relative;
    color: #505050;
    text-align: left;
    padding-left: 28px;
    span {
      @include ptRegular14;
      &::before {
        position: absolute;
        top: -4px;
        left: 0;
        content: '';
        width: 24px;
        height: 24px;
        background: url('@images/icons/anomalies.svg') center center no-repeat;
      }
    }
  }

  &__content {
    padding: 36px 0 116px 0;

    textarea {
      @include ppRegular14;
      width: 298px;
      height: 164px;
      margin: 0 auto;
      padding: 12px;
      border: 1px solid $borderColor;
      border-radius: 4px;
      line-height: 26px;
    }

    .text-count {
      margin-top: 12px;
      text-align: right;

      .fc-primary {
        color: $primaryColor;
      }
      .fc-warn {
        color: #fd2d2d;
      }
    }
  }
}
