@charset 'utf-8';

.feedback {
    width: $maxWidth;
    height: $minHeight;

    padding: 28px 0 0 0;

    &__comment {
        span {
            @include ptBold20;
        }
        img {
            padding-top: 32px;
            width: 240px;
            height: 240px;
        }
    }

    &__content{
        padding: 36px 0 116px 0;

        textarea {
            @include ppRegular14;
            width: 298px;
            height: 164px;
            margin: 0 auto;
            padding: 12px;
            border: 1px solid #E7E7E7;
            border-radius: 4px;
        }
    }
}