@charset 'utf-8';

.login {
  // min-height: $minHeight;

  margin: auto;
  text-align: center;

  &__logo {
    vertical-align: middle;
    padding-top: 122px;
    img {
      width: 303px;
      height: 119px;
    }
  }

  &__sns {
    @include ptRegular16;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 102px;
    button {
      // width: 320px;
      height: 56px;
      margin: 0 20px 16px 20px;
      padding: 8px 16px;
      border-radius: 2px;
      box-sizing: border-box;
      gap: 4px;
      position: relative;
      color: #000000;

      &.kakao {
        border: 0;
        background-color: #f5ca0f;
        &::before {
          content: '';
          position: absolute;
          top: 8px;
          left: 16px;
          width: 40px;
          height: 40px;
          background: url('@images/icons/login_kakao.svg') center center
            no-repeat;
        }
      }

      &.google {
        border: 1px solid #000000;
        &::before {
          content: '';
          position: absolute;
          top: 8px;
          left: 16px;
          width: 40px;
          height: 40px;
          background: url('@images/icons/login_google.svg') center center
            no-repeat;
        }
      }
    }
  }

  &__terms {
    margin-top: 20px;
    .terms__notice {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: #505050;

      a {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #505050;
        text-decoration: underline solid #505050;
        text-underline-offset: 2px;
        cursor: pointer;
      }
    }
  }
}
