@charset 'utf-8';

.header {
    padding: 0 20px;
    &-main {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;

      &__logo {
        content: '';
        width: 24px;
        height: 24px;
        background: url('@images/common/back.svg') center center no-repeat;
      }

      &__menu {
        content: '';
        width: 24px;
        height: 24px;
        background: url('@images/common/menu.svg') center center no-repeat;
      }
    }
    
  }
  